/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "nrf52840wtkj-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "This is a development board developed by our company ourselves.";
	compatible = "wtkj,nrf52840wtkj";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,console =  &uart0 ;
		zephyr,shell-uart =  &uart0 ;
		zephyr,uart-mcumgr = &uart0;
	};
	leds{
		compatible = "gpio-leds";
		led0: led_0{
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			label = "蓝色 led 0";
		};
		led1: led_1{
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "蓝色 led 1";
		};
		led2: led_2{
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			label = "蓝色 led 2";
		};
		led3: led_3{
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			label = "蓝色 led 3";
		};
	};
	buttons{
		compatible = "gpio-keys";
		button0: button_0{
			gpios = <&gpio0 25 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "按键 0";
			zephyr,code = <INPUT_KEY_0>;
		};
		button1: button_1{
			gpios = <&gpio0 24 (GPIO_PULL_UP|GPIO_ACTIVE_LOW)>;
			label = "按键 1";
			zephyr,code = <INPUT_KEY_1>;
		};
		button2: button_2{
			gpios = <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "按键 2";
			zephyr,code = <INPUT_KEY_2>;
		};
		button3: button_3{
			gpios = <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "按键 3";
			zephyr,code = <INPUT_KEY_3>;
		};
		touch: button_touch{
			gpios = <&gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "触控按键";
			zephyr,code = <INPUT_KEY_4>;
		};
	};
	pwmleds{
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0{
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
	pwmbuzzer{
		compatible = "pwm-leds";
		pwm_buzzer: pwm_buzzer{
			pwms = <&pwm2 0 PWM_USEC(500) PWM_POLARITY_NORMAL>; //pwm 周期为500us
		};
	};
	motordriver {
		compatible = "pwm-leds";

		/* 通道0：控制电机正转/方向1（关联PWM1通道0） */
		motor_in_1: motor_in_1{
			pwms = <&pwm1 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "电机的IN 1 引脚控制";
		};
		/* 通道1：控制电机反转/方向2（关联PWM1通道1） */
		motor_in_2: motor_in_2{
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "电机的IN 2 引脚控制";
		};
	};
	gpiokeys{
		compatible = "gpio-keys";
		motor_nsleep: motor_nsleep{
			gpios = <&gpio1 13 GPIO_PUSH_PULL>;
			label = "电机NSLEEP";
		};
		wifi_rst: wifi_rst{
			gpios = <&gpio0 27 GPIO_PUSH_PULL>;
			label = "wifi RST";
		};
		wifi_en: wifi_en{
			gpios = <&gpio0 26 0>;
			label = "wifi en";
		};
		accel_interrupt: accel_interrupt{
			gpios = <&gpio0 30 GPIO_PUSH_PULL>;
			label = "accel interrupt";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		pwm-led0 = &pwm_led0;
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		sw3 = &button3;
		sw4 = &touch;
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};

	zephyr,user {
		io-channels = <&adc 0>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};
&gpiote {
	status = "okay";
};
&gpio0 {
	status = "okay";
};
&gpio1 {
	status = "okay";
};

//配置uart0
&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default","sleep";
};

//配置uart1
&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default","sleep";
};

//配置i2c0
&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default","sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	myaccel: lis2dh12@18 {
		compatible = "i2c-device";
		reg = <0x18>;
	};
};

//配置pwm0
&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;//注：这里有下画波浪线，是因为引脚被 led0 也使用了。
	pinctrl-names = "default","sleep";
};

//配置pwm1
&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default","sleep";
};
&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2_default>;
	pinctrl-1 = <&pwm2_sleep>;
	pinctrl-names = "default","sleep";
};
&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";//增益 6倍
		zephyr,reference = "ADC_REF_INTERNAL"; //内部 0.6伏参考电压
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;//采样时间
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 for nRF52xx, P0.04 for nRF5340 */
		zephyr,resolution = <12>;//分辨率12位
	};
};


&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	

	w25q32: qspi-nor@0 {
		compatible = "nordic,qspi-nor";
		reg = <0x0>;
		sck-frequency = <10000000>;/*时钟频率10Mhz */

		jedec-id = [ ef 40 16  ]; /* 厂商ID+设备ID，手册8.1节 */
		size = <0x2000000>;/* 这里填写flash大小（位） 0x2000000 位 = 0x400000 字节 =  4096kB = 4MB */
		
		/* Quad 读指令：Fast Read Quad Output（0x6Bh），需 QE=1 */
		readoc = "fastread"; 
		/* Quad 写指令：Quad Input Page Program（0x32h），需 QE=1 */
		writeoc = "pp"; 
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			section@0 {
				reg = <0x0 0x400000>;
				label = "section";
			};
		};
	};
	
	
};

// &i2s0 {
// 	status = "okay";
// 	pinctrl-0 = <&i2s0_default>;
// 	pinctrl-1 = <&i2s0_sleep>;
// 	pinctrl-names = "default", "sleep";
// };
&usbd {
	status = "okay";
};